{% extends "base.html" %}

{% block section %}
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                {% if product_list %}
                    {% for product in product_list %}
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="static/images/products/{{ product['id'] }}.png" alt="{{ product['description'] }}" width="450" height="300"/>
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">{{ product['name'] }}</h5>
                                        <!-- Product Description -->
                                        <p>{{ product['description'] }}</p>
                                        <!-- Product price-->
                                        {% if product['on_sale'] == 1 %}
                                            <strike>$ {{ product['price'] }}</strike> - ${{ product['sale_price'] }} <b>OFERTA</b>
                                        {% else %}
                                            ${{ product['price'] }}
                                        {% endif %}


                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

            </div>
        </div>
    </section>
{% endblock section %}


{% block title %}Indice de la página{% endblock title %}